{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
     <link rel="stylesheet" href=" {% static 'ama_app/css/ama_app.css' %}">
</head>
<body>

    <header>
            <div style="display:flex">
                <a class="line" style="border-radius: 5%; padding-top: 5px; flex: 1" href="{% url 'home' %}"><img src="{% static 'ama_app/img/book1.ico' %}"
                                                                                     title="Главная" alt="logo"></a>


                <a  class="line" href="{% url 'about' %}">О сайте</a>
                <a  class="line" href="{% url 'contacts' %}">Контакты</a>

                {% if user.is_authenticated %}
                    <a class="line" href="{% url 'profile' %}">Профиль: {{user}}</a>
                    <a class="line" href="{% url 'logout' %}">Выход</a>
                {% else %}
                    <a class="line" href="{% url 'login' %}">Вход</a>
                    <a class="line" href="{% url 'register' %}">Регистрация</a>
                {% endif %}

            </div>


    </header>

    <div class="main_box">

        <div>
            <ul >
                <h3>Навигация по жанрам</h3>
                {% for object in cats %}

                        <li><a href="{{ object.get_absolute_url }}">{{ object.cat }}</a></li>

                {% endfor %}
            </ul>

            <ul>
                <h3>Навигация по авторам</h3>
                {% for object in authors %}
                <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
                {% endfor %}
            </ul>

            <ul>
                <h3>Навигация по регионам</h3>
                {% for object in regions %}
                <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
                {% endfor %}
            </ul>

            {% if user.is_authenticated %}
            <a href="{% url 'wrighting' %}">Произведения, создаваемые в настоящее время</a>
            {% else %}

            <p>Просмотр произведений, создаваемых прямо сейчас возможен только для зарегистрированных пользователей</p>
            <a href="{% url 'register' %}">Зарегистрироваться</a>

            {% endif %}

        </div>

        <div class="center">

            {% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
{% endif %}

            {% block content %}
            {% endblock %}


        </div>

    </div>


</body>
</html>